/*****Base Styles*****/
body {background: url('img/originalback.png');
      background-size: contain;
      font-family: 'Cinzel Decorative', serif;
      font-size: 30px;
      color: #340f63;}

.full-width { width:1300px;
                    margin: 0 auto;}
.half-width {width: 600px;
                  float: left;}
.third-width {width: 400px;
                    float: left;}
.right-side { width: 600px;
                  float: right;}

/*****Title*****/
header {height: 200px;
        background: url('img/banner.png') no-repeat;
      background-size: cover;
      border: 5px solid #19ff57;}
header h1 { font-family: 'Crimson Text', serif;
          text-transform:uppercase;
            font-size: 90px;
            text-align: center;
            color: #ffffff;
          padding: 0px 40px 10px 0px;
        margin: 40px;}

/*****Resume*****/
main {height: 1400px;
      width: 1200px;
    margin: 0px 300px 0px 300px;
    background: #c3acfc;
    padding: 40px;}
main h2 {color: #000000;
        text-align: center;
      padding: 0px 100px 0px 0px;
      font-variant: small-caps;}
main h3 {font-family: 'Roboto Condensed', sans-serif;
          padding: 0px 40px;
        color: #000000;}
main ul li {font-size: 18px;
            color: #000000;}
main p {font-family: 'Crimson Text', serif;
        color: #000000;
      font-size: 24px;
      color: #000000;}
main span {font-weight: bold;}

/*****portfolio*****/
article {height: 11000px;
        background: #340f63;
        border: 10px solid #516e73;}
article h2 {text-align: center;
            color: #ffffff;
            font-variant: small-caps;
            padding: 60px 0px 0px 0px;}
article h3 {text-align: center;
            color: #ffffff;
            padding: 80px;}
#design img {width: 1100px;
            margin: 40px 100px;}
#digital img {width: 900px;
              margin: 40px 200px;}
article p {font-family: 'Crimson Text', serif;
          font-size: 18px;
          color: #ffffff;}

/***** early work*****/
aside {height: 875px;}
aside #early {background: #6c5f8c;
              height: 850px;
              border: 5px solid #19ff57;}
aside #card {background: #c3acfc;
            height: 850px;
            border: 5px solid #516e73;}
aside h3 {font-family: 'Roboto Condensed', sans-serif;
          font-size: 30px;
        text-align: center;
        color: #ffffff;}
aside p { font-family: 'Crimson Text', serif;
        font-size: 36px;
      text-align: center;
        color: #ffffff;}
aside h2 { font-family: 'Dancing Script', sans-serif;
          color: #000000;
        font-size: 50px;
      text-align: center;}
aside #early img {height: 500px;
                  margin: 20px 100px;}
aside #card img {margin: 20px 150px;}
aside .container {padding: 20px 130px;
                  border: 2px solid #340f63;
                }
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
input[type=submit] {
                    background-color: #340f63;
                    color: white;
                    padding: 12px 20px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;}
input[type=submit]:hover {
                        background-color: #19ff57;}


/*****footer*****/
footer {background: #6c5f8c;
border: 10px solid #19ff57;}
footer ul li { display: inline-block;
}
